# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/

# Ignore compiled files
*.class
*.jar

# Ignore macOS system files
.DS_Store
